*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-image: url(../img/beauty-bg.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    background-repeat: no-repeat;
}
header{
    height: 100px;
}
nav{
    margin-top: 30px;
    display: inline-block;
    width: 100%;
}
nav ul{
    display: inline-block;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    margin: 0 5px;
    color: #e8e2e2;
    text-shadow: 1px 1px 5px black;
    font-size: 17px;
    font-weight: 500;
    transition: .3s;
}
nav ul li a:hover{
    color: aqua;
    border: none;
}
nav ul li a .fa-solid{
    font-size: 15px;
}
form {
    margin: 0 -400px 0 140px;
    display: inline-block;
}
form p{
    display: block;
    background: #fff;
    width: 170px;
    height: 35px;
    border: none;
    box-shadow: 1px 1px 10px rgb(114, 112, 112);
    border-radius: 50px;
}
form p i{
    text-shadow: none;
    color: #938f8f;
    font-size: 15px;
    margin: 10px 10px;
}
form input{
    padding: 5px 0;
    margin-top: 13px;
    width: 130px;
    height: 10px;
    border: none;
    outline: none;
    background: #fff;
    font-size: 12px;
}

.content{
    font-family: "Roboto", sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    margin: 10px auto;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 200px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow: hidden;
    transition: .3s;
}
.card:hover{
    box-shadow: 0 3px 6px rgba(245, 3, 3, 0.612), 0 3px 6px rgba(156, 155, 155, 0.23);
    transform: translate(0px, -8px);
}
.card section img{
    width: 95%;
    border: none;
    border-radius: 5px;
    margin: 5px;
}
.card section a{
    text-decoration: none;
    font-size: 9px;
    font-weight: 100;
    color: #57ecbd;
}
.card section #dimension{
    font: .7em Tahoma, sans-serif;
    color: #b7b7b7;
    display: inline-block;
}
.card section #size{
    display: inline-block;
    font: .7em Tahoma, sans-serif;
    color: #b7b7b7;
    border-left: 1px dotted #d6d6d6;
    padding-left: 5px;
    margin: 0 5px;
}
footer p{
    margin-top: 80px;
    margin-bottom: 5px;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    color: #fff;
}
li i{
    margin-left: 15px;;
    padding: 0 5px;
    font-size: 18px;
}
@media only screen and (max-width: 768px) {
    body{
        background-image: url(../img/beauty-bg.jpg);
        background-size: cover;
        height: 100%;
        text-align: center;
        width: 100%;
        background-repeat: no-repeat;
    }
    header{
        display: inline-block;
        height: 100px;
    }
    nav{
        display: inline-block;
        text-align: center;
    }
    nav ul{
        display: inline-block;
    }
    nav ul li{
        display: inline-block;
        margin: 10px 0;
    }
    nav ul li a{
        display: inline-block;
        font-size: 13px;
    }
    form {
        margin: 20px 0 0 10px;
        display: inline-block;
    }
    form p{
        display: inline-block;
        background: #fff;
        width: 150px;
        height: 27px;
        border: none;
        box-shadow: 1px 1px 10px rgb(114, 112, 112);
        border-radius: 50px;
    }
    form p i{
        margin: 0 10px;
        text-shadow: none;
        color: #938f8f;
        font-size: 10px;

    }
    form input{
        width: 90px;
        height: 12px;
        border: none;
        outline: none;
        background: #fff;
        font-size: 10px;
        margin: 8px;
    }
   .container{
        width: 75%;
        display: block;
        text-align: center;
        margin: 15px 40px;
    }
    img{
        display: inline-block;
        width: 100px;
        margin-top: 10px;
    }
    h1{
        font-size: 13px;
    }
    p{
        font-size: 12px;
        text-align: justify;
    }
    footer p{
        margin-top: 30px;
    }
}
